/*重置样式或通用样式*/
html,body{width:100%;height:100%;}
*{box-sizing:border-box;}
body{margin:0;padding:0;padding-top:70px; color:#666;font-family:'微软雅黑';background:#ddd;}
p,ul,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0; padding:0; list-style:none;}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
a{text-decoration:none;color:#777;}
.text-center{text-align:center;}
.hide{display:none;}
.show{display:block;}
/*头部*/
.main{background:#fff;height:100%;}
nav p{width:1200px;margin:0 auto;max-width:100%;padding:0 15px;}
nav{height:70px;width:100%;background:#049ACB;position:fixed;top:0;}
nav a{font-size:20px;color:#fff;line-height:70px;font-weight: bold;}
nav a:last-child{float:right;}
/*底部*/
footer{padding:20px;text-align: center;background: #ddd;color:#4E585B;}
footer p{margin:6px 0;}
input,button,select,textarea{outline:none;}
input{background:#fff;}
textarea{resize:none}
option{padding:10px;}
button,input[type='button'],input[type='submit']{cursor:pointer;background:#36aed5;color:#fff;border:none;}
button:hover,input[type='button']:hover,input[type='submit']:hover{background:#049ACB;border:0;border-radius:4px;}
