.detail_box{position:absolute;left: 0;right: 0;top:0;background:#ddd;z-index: 5;padding-top:80px;padding-bottom:40px;overflow:auto;}
.detail-dialog{width:1000px;margin:0 auto;padding:40px 30px 20px;background:#fff;position: relative;}
/*培训详情*/
.detail .content{overflow:hidden;border-radius:6px;padding:20px 15px;box-shadow:0 0 5px 3px #ddd inset;}
.detail .content .lf p{font-size:18px;margin-top:20px;}
.detail .content .rt{width:64%; }
.detail .content .rt p{margin:6px 0;font-size:16px;}
.detail .plan{padding:20px 0;}
.detail .plan>a{color:#333;padding:8px 7px;padding-left:60px;border:1px solid #ddd;display:inline-block;border-radius:4px;background:url('../imgs/login_small.png') no-repeat 7px -136px;}
.detail a#review{background:url('../imgs/login_small.png') no-repeat 7px -102px;margin-left:80px;}
.detail .plan>a b{display:inline-block;margin:0 10px;}
.detail #train_assign{display:none;width:50%; text-align:right;position:relative;}
.detail #train_assign button{width:120px;height:37px;border-radius:4px;font-size:16px;}
.detail #date{width:180px;height:35px;margin-right:10px;font-size:14px;border:1px solid #049ACB;padding:10px 10px;background:url('../imgs/date.png') no-repeat center right;}
.praise{background:url('../imgs/login_small.png') no-repeat 7px -168px #f7f7f7 !important;}
/*评论列表*/
.comment>div{padding:20px;padding-right:0;border-top:1px solid #ddd;overflow: hidden;}
.comment>p{text-align:center;}
.comment div.rt{width:88%;}
.comment div.rt p{padding:8px ;font-size:18px;background:#F0F6F4;}
.comment div.rt span{color:#049ACB;}
.comment div.rt ul li{padding:5px;margin-top:15px;}
.comment div.rt ul li:last-child{padding-right:50px;text-align: right;}
.comment a{color:#aaa;font-size:18px;}
/*回复框*/
.replay{width:75%;margin:20px auto;position:relative;}
.replay a{color:#049ACB;}
#resBox{width:100%;height:150px;margin:10px 0;font-size:14px;padding:10px;resize:none;border-radius:3px;border-color:#049ACB;}
.replay a.rt{margin-right:20px; border-radius:4px;padding:6px 12px;font-weight:bold;background:#049ACB;color:#fff;font-size:14px;}
#msg{position:absolute;top:50%;left:50%;border:1px solid #ddd;
    z-index:10;font-size:18px;text-align: center;display:none;border-radius: 4px;padding:8px 15px;background:rgba(255,255,255,0.7);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
/*信息提示/确认*/
.msg-confirm,.msg-prompt{position:fixed; z-index: 999;top:70px;left:1px;right:1px;border-radius:5px;background:#fdeac2;padding:15px;}
.msg-confirm span,.msg-confirm a{display:inline-block;margin-left:10px;padding:4px 12px;}
.msg-prompt p{padding:4px 12px;}
.msg-confirm .ok{border-radius:3px;background:#00B9E8;color:#fff;}
.msg-confirm a{font-size:14px;}
.msg-confirm .cancel{border:1px solid #aaa;border-radius:3px;}