/*重置样式或通用样式*/
*{box-sizing:border-box;}
p,ul,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0; padding:0; list-style:none;}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
a{text-decoration:none;color:#777;}
body{margin:0;padding:0;  padding-top:70px;}
.text-center{text-align:center;}
.hide{display:none;}
.show{display:block;}
/*头部*/
nav p{width:1200px;margin:0 auto;}
nav{height:70px;width:100%;background:#049ACB;position:fixed;top:0;}
nav a{font-size:20px;color:#fff;line-height:70px;font-weight: bold;}
nav a:last-child{float:right;}
/*主体.导航标签页*/
section{background:#ddd;padding-top:10px;}
.tabs{width:1200px;text-align:center;overflow:hidden;background:#fff;margin:30px auto;}
.tabs li a{width:33.3%;float:left;padding:25px 0;font-size:18px;font-weight: bold;}
.active-tabs{background:url('../imgs/font-bag.png') no-repeat center center;color:#fff;}
/*主体.教你做人、、*/
.main{width:1200px;background:#fff;margin:0 auto;padding-bottom:50px;}
#courses>div{overflow:hidden;padding-bottom:20px;}
#courses dl{float:left;width:33.3%;padding:30px 0;text-align: center;}
#courses dt{margin:0 auto;widtdh:288px;}
#courses dd{text-align: left;padding-left:50px;}
#courses dl dd:nth-child(2){font-weight: bold;}
.pages  a{background:#f7f7f7;margin:20px;border:1px solid #aaa;padding:6px 15px;}
footer{padding:20px;text-align: center;background: #ddd;color:#4E585B;}
footer p{margin:6px 0;}

