/*用户登录*/
.modal {position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0, .7);  z-index: 999;}
.modal-dialog {position: absolute;top:40%;left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.modal-content {background:#fff;  border: 1px solid #aaa;  border-radius: 3px;  box-shadow: 0 0 5px #aaa;  padding:20px 15px 10px;}
.modal-content h2{color:#049ACB;}
.msg_login{height:15px;padding-right:40px;font-size:14px;text-align:right;color:red;}
#login{margin:15px 30px; }
#login input{display:block;width:300px;border:1px solid #049ACB;border-radius:4px;padding:10px 5px;font-size:14px;margin-bottom:25px;}
#login input:not([type='submit']){padding-left:50px;background:url(../imgs/login_small.png) no-repeat 10px 6px;}
#login input:first-child{background-position:10px -34px; }
#login input[type='submit']{cursor:pointer;font-weight:bold;margin:0;padding:8px 0;}
/*主体.导航标签页*/

.tabs{width:1200px;text-align:center;overflow:hidden;background:#fff;margin:30px auto;letter-spacing:6px;}
.tabs li a{width:33.3%;float:left;padding:25px 0;font-size:18px;font-weight: bold;}
.active-tabs{background:url('../imgs/font-bag.png') no-repeat center center;color:#fff;}
/*主体.教你做人、、*/
.main{width:1200px;margin:0 auto;padding:10px 0 50px;}
#courses .train_list{overflow:hidden;height:770px;}
#courses dl{float:left;width:33.3%;padding-top:30px;text-align: center;}
#courses dt{margin:10px auto;}
#courses dd{text-align: left;padding-left:60px;margin-top:20px;}
#courses dl dd:nth-child(2){font-weight: bold;}
.pages a{background:#36aed5;margin:20px;padding:8px 15px;font-weight:bold; font-size:14px;border-radius:4px;color:#fff;}
.pages a:hover{background:#049ACB;}


