#require{width:1200px;background:#fff;margin:0 auto;padding:10px 0 20px;}
#require>p{text-align: center; padding:40px;padding-bottom:50px;}
#require>p a,#require>div p:first-child{margin:0 100px;border-radius:5px;padding:15px 30px;background:#36aed5;color:#fff;font-size: 20px;font-weight: bold; }
#require>p a:hover{background:#049ACB;}
#require .list{border-top:1px solid #ddd;padding-top:20px;}
#require .list>div{padding:20px;}
#require .list>div>div{overflow:hidden;}
#require .list>div p:first-child{font-size:16px;padding:12px 10px;margin:0;margin-bottom:20px;}
#require .list>div p:last-child{margin-top:30px;}
/*列表*/
#require dl{float:left;width:33.3%;padding-top:30px;text-align: center;}
#require dt{margin:10px auto;}
#require dd{text-align: left;padding-left:60px;margin-top:20px;}
#require dl dd:nth-child(2){font-weight: bold;}
.pages a{background:#36aed5;margin:20px;padding:8px 15px;font-weight:bold; font-size:14px;border-radius:4px;color:#fff;}
.pages a:hover{background:#049ACB;}
/*新增培新需求*/
.add_train .modal-dialog{top:18%;}
.add_train .modal-content{width:700px;padding:20px}
.modal-content>p{position: absolute;bottom:10px;right:40px;color:#FF6100;font-size:12px;}
.default_img{position:absolute;left:0;bottom:26.5%;width:100%;padding:10px;overflow:auto;z-index: 100;background:#fff;
    border-bottom:1px solid #049ACB;height:70%;border-radius:4px;}
.default_img img{float:left;width:40%;margin:20px;margin-left:35px;border:2px solid #ddd;cursor: pointer;}
#add{padding-top:10px;margin-bottom:10px;}
#add input,#add select{width:100%;display:block;padding:10Px;border-radius:4px;border:1px solid #049ACB;font-size:14px;margin-bottom:20px;}
#add select{height:39px;background:#fff;}
#add input[type='button'],#add input[type='submit']{font-weight: bold;border:none;}
#add input[type='submit']{margin-bottom:5px;}
#add .smImg{margin:10px 0;margin-top:-30px;}
#add .smImg #select{width:20%;display:inline-block;}
#add .smImg img{position:relative;top:25px;left:60px;height:80px;border:1px solid #333;}
#add textarea{width:100%;height:200px;font-size:14px;padding:10px;resize:none;border-radius:4px;margin-bottom:20px;border:1px solid #049ACB;}
