#require{width:1200px;background:#fff;margin:0 auto;padding:10px 0 20px;}
#require .list{padding-top:20px;}
/*筛选*/
#require .mark{
    padding:15px 0 0 50px;
}
#require .mark a{display:inline-block;margin-left:15px;padding:4px 10px;font-size:14px;border-radius:3px;}
.active_mark{background:#049ACB;color:#fff;}